/* Estilo del contenedor principal */
div {
    text-align: center;
}

/* Botón principal para iniciar la partida */
.boton-iniciar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;

}

.boton-iniciar:hover {
    background-color:#218838;
}

.boton-iniciar span {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.jugador1{
    display:flex;
    justify-content: center;
    margin-bottom:100px;
    margin-top:70px;
}

.jugador1 button, .jugador2 button{
    background-color: rgb(18, 137, 9);
    color: white;
    border: none;
    width: 70px;
    height: 120px;
    font-size: 18px;
    margin: 2px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.mazo{
    display:flex;
    justify-content: right;  
    align-items: center;
    gap:20px;
}
.mazo button {
    background-color: rgb(18, 137, 9);
    color: white;
    border: none;
    width: 70px;
    height: 120px;
    font-size: 18px;
    margin: 2px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.jugador1 button:hover, .jugador2 button:hover {
    background-color: rgb(6, 128, 16);
}

.jugador1 button span, .jugador2 button span {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}