<header class="navbar">
  <div class="center">
    <span class="navbar-center">
      <a title="Juegos" href="/">
        <img class="logo-img" src="favicon.ico" />
        <span class="title">Juegos TSWeb</span>
        <img class="logo-img" src="favicon.ico" />
      </a>
    </span>
    <span class="login">
      
      <button
      aria-haspopup="true" mat-icon-button class="mat-menu-trigger buton-login transparent-bg"
        #menuTrigger="matMenuTrigger"
        (mouseover)="openMyMenu(menuTrigger)"
        [matMenuTriggerFor]="myMenu"
      >
        <img class="logo-img" src="assets/user.png" />
      </button>
      <mat-menu #myMenu="matMenu" [overlapTrigger]="false"
      (mouseleave)="closeMyMenu(menuTrigger)">
        <ng-template matMenuContent>
          <button mat-menu-item routerLink="/Login">Login</button>
          <button mat-menu-item routerLink="/Register">Registrarse</button>
          <button mat-menu-item>Cerrar Sesion</button>
        </ng-template>
      </mat-menu>
    </span>
  </div>
</header>
<router-outlet></router-outlet>

<div id="chat-box"></div>
<div>
  <input type="text" id="mensaje" placeholder="Texto del Mensaje">
  <input type="text" id="destinatario" placeholder="Destinatario">
    <button (click)="sendMessage()">Send</button>
</div>

<div *ngIf="isHomeRoute()" class="menu_juegos">
  <p>Ir a sala de juegos</p>
  <button (click)="navigateToJuegos()">Juegos</button> <!-- Llama al método navigateToJuegos() -->
</div>