.mat-menu {
    justify-self: right;
}

.transparent-bg.mat-menu-trigger {
    background-color: transparent !important; 
    outline: none;
    border: 0;
  }
  
  ::ng-deep .mat-menu-panel {
    position: absolute !important;
    transform-origin: right top !important;
    top: 60px !important;
    right: 0 !important;
    background-color: transparent !important;
    border: none !important;
  }
  .mat-menu-panel {
    position: absolute !important;
    transform-origin: right top !important;
    top: 60px !important;
    right: 0 !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.menu_juegos{
  display:flex;
  align-items:center;
  justify-content: center;
  padding:15px;
  inline-size: 100%;
  margin-top: 30px;
}

.menu_juegos button{
  height:50px;
  width:200px;
  border-radius: 15px;
  background-color: #E2322C;
  box-shadow: 2px 2px 2px 1px rgba(225, 14, 14, 0.2);
  font-size: 20px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.menu_juegos button:hover{
  background-color: #E45644;
  font-weight: bolder;
  font-size: 40px;
}


.menu_juegos p{
  font-size: 30px;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.chat{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat input{
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.red-text {
  color: rgb(231, 40, 2);
}

.green-text {
  color: rgb(8, 209, 4);;
}
.nombre{
  display:flex;
  gap:20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.conectar{
  width:200px;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color:white;
  font-weight: bold;
  border-radius:5px;
  background-color: rgb(17, 233, 17);
}

.conectar:hover{
  background-color: rgb(8, 172, 8);
}